
.transition-group {
    .appear {
        opacity: 0;
        transform: translateX(-100%);
    }
    .appear-active {
        transform: translateX(0);
        opacity: 1;
        transition: all 1s ease;
    }
    .appear-done {
    
    }
    .enter {
        opacity: 0;
        transform: translateX(-100%);
    }
    .enter-active {
      transform: translateX(0);
      opacity: 1;
      transition: all 1s ease;
    }
    
    .enter-done {
        border: 5px solid #000;
    }
    .exit {
        transform: translateX(0%);
        opacity: 1;
    }
    .exit-active {
        transform: translateX(100%);
        opacity: 0;
        transition: all 2s ease;
    }
    .exit-done {
         border: 5px solid red;
    }
}

.item-box {
    .appear {
        opacity: 0;
        transform: translateX(-100%);
    }
    .appear-active {
        transform: translateX(0);
        opacity: 1;
        transition: all 1s ease;
    }
    .appear-done {
    
    }
    .enter {
        opacity: 0;
        transform: translateX(-100%);
    }
    .enter-active {
      transform: translateX(0);
      opacity: 1;
      transition: all 1s ease;
    }
    
    .enter-done {
        border: 5px solid #000;
    }
    .exit {
        transform: translateX(0%);
        opacity: 1;
    }
    .exit-active {
        transform: translateX(100%);
        opacity: 0;
        transition: all 16s ease;
    }
    .exit-done {
         border: 5px solid red;
    }
}